<div class="flex flex-col md:flex-row gap-3 w-full">
      <mat-form-field appearance="fill" floatLabel="always" class="flex-1 text-sm">
        <mat-label class="text-sm">Select Month</mat-label>
        <input 
          matInput 
          [matDatepicker]="dp" 
          [formControl]="date"
          [max]="maxDate">
        <mat-hint>MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker 
          #dp
          startView="multi-year"
          (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="month-year-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>