<div class="flex w-full gap-4">
  <!-- From Date -->
  <!-- <mat-form-field appearance="fill" class="flex-1 min-w-0">
    <mat-label>From Date</mat-label>
    <input matInput
           [matDatepicker]="fromPicker"
           [(ngModel)]="fromDate"
           [max]="maxFromDate"
           (ngModelChange)="onFromDateChange()">
    <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field> -->

  <!-- To Date -->
  <!-- <mat-form-field appearance="fill" class="flex-1 min-w-0">
    <mat-label>To Date</mat-label>
    <input matInput
           [matDatepicker]="toPicker"
           [(ngModel)]="toDate"
           [min]="minToDate"
           (ngModelChange)="onToDateChange()">
    <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field> -->
<!-- </div> -->
<!-- Container with max-width for heading and date selector -->

<!-- date-selector-component.component.html -->
<!-- <div class="flex flex-col lg:flex-row gap-3"> -->
  <!-- From Date -->
  <!-- <mat-form-field appearance="fill" class="w-full lg:w-[300px]">
    <mat-label>From Date</mat-label>
    <input matInput
           [matDatepicker]="fromPicker"
           [(ngModel)]="fromDate"
           [max]="maxFromDate"
           (ngModelChange)="onFromDateChange()"
           class="h-10">
    <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field> -->

  <!-- To Date -->
  <!-- <mat-form-field appearance="fill" class="w-full lg:w-[300px]">
    <mat-label>To Date</mat-label>
    <input matInput
           [matDatepicker]="toPicker"
           [(ngModel)]="toDate"
           [min]="minToDate"
           (ngModelChange)="onToDateChange()"
           class="h-10">
    <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
</div> -->


<!-- date-selector-component.component.html -->
<!-- <div class="flex flex-col md:flex-row gap-3"> -->
  <!-- From Date -->
  <!-- <mat-form-field appearance="fill" class="w-full md:w-[300px]">
    <mat-label>From Date</mat-label>
    <input matInput
           [matDatepicker]="fromPicker"
           [(ngModel)]="fromDate"
           [max]="maxFromDate"
           (ngModelChange)="onFromDateChange()"
           class="h-10">
    <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field> -->

  <!-- To Date -->
  <!-- <mat-form-field appearance="fill" class="w-full md:w-[300px]">
    <mat-label>To Date</mat-label>
    <input matInput
           [matDatepicker]="toPicker"
           [(ngModel)]="toDate"
           [min]="minToDate"
           (ngModelChange)="onToDateChange()"
           class="h-10">
    <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
</div> -->


<!-- date-selector-component.component.html -->
<!-- <div class="flex flex-col md:flex-row gap-3"> -->
  <!-- From Date -->
  <!-- <mat-form-field appearance="fill" class="w-full">
    <mat-label>From Date</mat-label>
    <input matInput
           [matDatepicker]="fromPicker"
           [(ngModel)]="fromDate"
           [max]="maxFromDate"
           (ngModelChange)="onFromDateChange()"
           class="h-10">
    <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field> -->

  <!-- To Date -->
  <!-- <mat-form-field appearance="fill" class="w-full">
    <mat-label>To Date</mat-label>
    <input matInput
           [matDatepicker]="toPicker"
           [(ngModel)]="toDate"
           [min]="minToDate"
           (ngModelChange)="onToDateChange()"
           class="h-10">
    <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
</div> -->



<div class="flex flex-col md:flex-row gap-3 w-full">
  <!-- From Date -->
  <mat-form-field appearance="fill" class="w-full flex-1">
    <mat-label>From Date</mat-label>
    <input matInput
           [matDatepicker]="fromPicker"
           [(ngModel)]="fromDate"
           [max]="maxFromDate"
           (ngModelChange)="onFromDateChange()"
           class="h-10">
    <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>

  <!-- To Date -->
  <mat-form-field appearance="fill" class="w-full flex-1">
    <mat-label>To Date</mat-label>
    <input matInput
           [matDatepicker]="toPicker"
           [(ngModel)]="toDate"
           [min]="minToDate"
           (ngModelChange)="onToDateChange()"
           class="h-10">
    <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
</div>
