/* GLOBAL OVERRIDES FOR MAT FORM FIELD */
::ng-deep .mat-mdc-form-field {
  font-size: 14px !important;
}

/* Fix input height and spacing */
::ng-deep .mat-mdc-form-field-flex {
  height: 56px !important;
  align-items: center;
}

/* Give space so floating label won't overlap */
::ng-deep .mat-mdc-form-field-infix {
  padding: 18px 0 8px !important;
  min-height: auto !important;
}

/* Label size */
::ng-deep .mat-mdc-floating-label {
  font-size: 14px !important;
}

/* Text field wrapper */
::ng-deep .mat-mdc-text-field-wrapper {
  padding: 0 !important;
}

/* Input Text Styling */
::ng-deep input[matInput],
::ng-deep .mat-mdc-input-element,
::ng-deep .mat-date-range-input-inner {
  font-size: 14px !important;
  text-decoration: none !important;
}

::ng-deep .mat-mdc-form-field {
  @apply w-full;
}

::ng-deep .mat-mdc-text-field-wrapper {
  @apply h-14;
}