<!-- card.component.html -->
<!-- <div class="card" routerLink="/my-underwriters"> >
  <img src="assets/underwriters.jpg" alt="Card image" class="card-image">
  <div class="card-content">
    <h3 class="card-title">View Underwriters</h3>

  </div>
</div> -->

<div class="card" routerLink="/my-underwriters" style="width: 17rem; ">
  <div class="icon-wrapper">
    <mat-icon class="card-icon">group</mat-icon>
  </div>
  <div class="card-body text-center">
    <p class="card-text">View Sales Persons</p>
  </div>
</div>
